<h1>Bibliomes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Query</th>
    <th>Built at</th>
    <th>Articles</th>
    <th>Journals</th>
    <th>Authors</th>
    <th>Subjects</th>
    <th>Genes</th>
  </tr>
<% @bibliomes.each do |bibliome| %>
  <tr>
    <td><%= link_to bibliome.name, bibliome %></td>
    <td><%= h(bibliome.query) %></td>
    <td><%= bibliome.built_at %></td>
    <td><%= bibliome.articles_count %></td>
    <td><%= bibliome.journals_count %></td>
    <td><%= bibliome.authors_count %></td>
    <td><%= bibliome.subjects_count %></td>
    <td><%= bibliome.genes_count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bibliome', new_bibliome_path %>