<% page_title(@prefix + "Bibliomes") %>
<%= page_entries_info @bibliomes %>
<ul>
  <% for item in @bibliomes -%>
  <li><%= link_to(h(item.query), bibliome_path(item))%> <span class="age">(<%= number_with_delimiter(item.total_articles) %> articles, <%= age(item) %>)</span><%= status(item) %></li>
  <% end -%>
</ul>
<%= will_paginate @bibliomes %>