<% page_title("Home") -%>
<h1>Biomedical Research at a Glance</h1>

<h2>Build Your Own Bibliome</h2>

<% form_tag pubmed_path, :method => "get", :id => "pubmed_search" do %>
  <%= text_field_tag('q', @q, :id => "pubmed_search_q") %>
  <%= hidden_field_tag('count', @count, :name => nil) %>
  <%= submit_tag "Search PubMed", :name => nil, :disable_with => "Searching PubMed ...", :id => "pubmed_search_submit" %>
  <div id="sample_search">
    Try these queries: 
    <%= link_to("autistic disorder[mesh]", pubmed_path(:q => "autistic disorder[mesh]"))%>
    <%= link_to("plos med[jour]", pubmed_path(:q => "plos med[jour]"))%>
  </div><!-- #sample_search -->
<% end -%>

<% if !@recent.blank? -%>
<h2>Recent Bibliomes</h2>
<ul>
  <% for item in @recent -%>
  <li><%= link_to(h(item.query), bibliome_path(item))%></li>
  <% end -%>
</ul>
<%= link_to("See more recent bibliomes", recent_bibliomes_path) %>
<% end -%>

<% if !@popular.blank? -%>
<h2>Popular Bibliomes</h2>
<ul>
  <% for item in @popular -%>
  <li><%= link_to(h(item.query), bibliome_path(item))%></li>
  <% end -%>
</ul>
<%= link_to("See more popular bibliomes", popular_bibliomes_path) %>
<% end -%>