<% page_title(@subject.term, "Subjects", @bibliome.query)%>
<h2><%=h @subject.term %></h2>
<%= publication_history(@bibliome, @subject) %>
<%= top_neighbors(@journals, "journal")%>
<%= top_neighbors(@authors, "author")%>
<%= top_neighbors(@cosubjects, "cosubject")%>
