<% page_title(@journal.abbr, "Journals", @bibliome.query)%>
<h2><%=h @journal.title %></h2>

<%= publication_history(@bibliome, @journal) %>
<%= top_neighbors(@authors, "author")%>
<%= top_neighbors(@subjects, "subject")%>
<%= top_neighbors(@pubtypes, "pubtype")%>
